#fixing {
    width: 9%;
}
.true {
    margin-left: 189px;
}

.bgm {
    background-image: url("bg-1.png");
    background-repeat: no-repeat;
    background-size: 90px;
}
.boltu h2 {
    color: red;
}

#smart-phone h2 {
    color: red;
}

.boltu h6 {
    color: rgb(8, 8, 68);
} 
strong {
    color: red;
}
.hed  {
    color:darkorange;
}
.poltu {
    background-image: url("bg-2.png");
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 20px 80px;
}
#smart-phone {
    margin: 50px 70px ;
    padding: 10px;
    width: 65%;
    
}
.pad {

}
.smart-phone h5 {
    color: red;
}
.smart-phone i {
color: rgb(241, 8, 163);
}
.smart-phone p {
    color: rgb(107, 105, 65);
}



button {
    
    text-decoration: none;
    background-image: linear-gradient(45deg, aqua,rgb(200, 255, 0));
    border-radius: 10px;
    padding: 10px 5px;
    padding-left: 3%;
    color: rgb(245, 3, 3);
    font-weight: 500;  }  

    #rotat {
        text-align: end;
    }
    .laptop i {
        color: rgb(241, 8, 163);
    }
    .laptop h5{
        color: red;
    }
    .laptop p {
        color: rgb(107, 105, 65);
    }
    .cat {
       width: 70%;
        margin: 29px;
    }
    
    
    .categories {
        background-color: antiquewhite;
        margin: 40px;
    }
    .cat2 {
        margin-left: 120px;
        width: 60%;
    }
    footer {
        text-align: center;
    }
    .laptop h2 {
        color: red;
        margin: 25px;
    }
    .categories {
        text-align: center;
        color: orangered;
    }